@charset "utf-8";
/* CSS Document */
html,body,a,li,div {margin:0; padding:0;}
.bigbox { width:70%; margin:0 auto; overflow:hidden;}
li {background-color:#FFEFD5; float:left; list-style:none; width:20%; padding-top:20%; margin:2% 2% 0 0;
-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px; }

